---
title: Búsqueda
---

<form action="/search.html" method="get">
  <div class="form-group fg--search">
    <input type="text" class="input" placeholder="Buscar por título o autor " id="search-box" name="query">
    <button type="submit"><i class="fa fa-search"></i></button>
  </div>
</form>

</br>
<div id="search-results"></div>

<script>
window.store = {
  {% for post in site.posts %}
  "{{ post.url }}": {
    {% if post.categories[0] == "image" %}
      "title": "{{ post.title | xml_escape }}",
      "author": "{{ post.author | xml_escape }}",
      "image": "{{ post.image }}"
    {% else %} 
      {% assign title = site.titles | where: 'title', post.title | first %}
      "title": "{{ title.title | xml_escape }}",
      "author": "{{ title.author | xml_escape }}",
      "image": "{{ post.image }}",
      {% if post.preview %}
      "excerpt": "{{ post.preview | strip_html | strip_newlines }}",
      {% else %}
      "excerpt": "{{ post.excerpt | truncate: 400 | strip_html | strip_newlines }}",
      {% endif %}
      "fragment": "{{ post.fragment }}"
    {% endif %} 
  }
  {% unless forloop.last %},{% endunless %}
  {% endfor %}
};
</script>
<script src="/assets/js/lunr.js"></script>
<script src="/assets/js/search.js"></script>

