<!-- This loops through the paginated posts -->
{% assign category = paginator.posts[0].categories[0] %}

{% if category == "image" %}
<div class="grid-container">
  {% for post in paginator.posts %}
  <a href="{{ post.url }}"><div class="grid-item">
    <img src="/assets/img/{{post.image}}" width="600px" height="350px" class="centered-and-cropped grayscale" alt="{{post.title}}"/>
    <i>{{ post.title }}</i>, <span> {{ post.author }} </span>
  </div>
</a> 
{% endfor %}
</div>
{% else %}
{% for post in paginator.posts %}

{% assign title = site.titles | where: 'title', post.title | first %}

<p class="block">
  {% if post.fragment %} 
    <a href="../../titles/{{title.title | replace: " ", "_" }}#f{{post.fragment}}"><div>
  {% else %} 
    <a href="../../titles/{{title.title | replace: " ", "_" }}"><div>
  {% endif %}

  {% if post.preview %} 
  <p>{{ post.preview }}</p>
  {% else %}
  <p>{{ post.excerpt | truncate: 400 }}</p>
  {% endif %}

  {% if include.hide_author %} 
    <p><span class="post-preview-title">{{ title.title }}</span></p>
  {% else %} 
    <p><span class="post-preview-title">{{ title.title }}</span>, <span class="post-preview-author"> {{ title.author }} </span></p>
  {% endif %}
</div></a> 
  </p>
  <hr>
  {% endfor %}
  {% endif %}
  {% include pagination_links.html %}