{% assign fragment = title.fragments[0] %}
<div class="card ">

    <div class="card-image"
         style="border-radius: .175rem .175rem 0 0; background-image: url(/assets/img/{{title.image.name}}); background-position: center center; background-repeat: no-repeat; background-size: 30rem auto;">

        <div class="black-background-preview div-padding-preview-header">

            {% if title.format-title == 'italic' %}
            <span class="title-post-italic">{{ title.name }}</span><span
                    class="date-post"> ({{ title.year }})</span>
            {% elsif title.format-title == 'quotes' %}
            <span class="title-post-none">«{{ title.name }}»</span><span
                    class="date-post"> ({{ title.year }})</span>
            {% else %}
            <span class="title-post-none">{{ title.name }}</span><span class="date-post"> ({{ title.year }})</span>
            {% endif %}
            <br>
            <span class="author-post">{{ author.name }}</span>
        </div>

    </div>

    <!-- Content -->
    <div class="div-padding-preview-body">
        {% if fragment.preview %}
        <p>{{ fragment.preview }}</p>
        {% elsif fragment.text %}
        <p>{{ fragment.text | truncate: 500 }}</p>
        {% elsif title.preview %}
        <p>{{ title.preview }}</p>
        {% elsif title.text %}
        <p> {{ title.text | truncate: 500 }}</p>
        {% endif %}
    </div>

</div>