/**
  * _utils.scss
  * Utility classes for applying common styles to elements.
  */

  .text-center {
    text-align: center;
  }
  
  .disable-hover {
    pointer-events: none;
  }

  .centered-and-cropped { 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    object-fit: cover;
  }

  .grayscale { filter: grayscale(90%); }

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

@media only screen and (max-width: 768px) {
  .grid-container  {
    grid-template-columns: auto;
  }
}

.grid-item {
  padding: 15px;
}


#highlight-me {
  animation: glow 2000ms;
  border-radius: 5px;
  display: inline-block;
  padding: 10px 10px;
}

@keyframes glow {
  50% {
    box-shadow: 0 0 10px gray;
  }
}