/**
  * _utils.scss
  * Utility classes for applying common styles to elements.
  */

  .text-center {
    text-align: center;
  }
  
  .disable-hover {
    pointer-events: none;
  }

  .centered-and-cropped { 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    object-fit: cover;
  }

  .grayscale { 
    filter: grayscale(100%) contrast(150%); 
  }

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

@media only screen and (max-width: 768px) {
  .grid-container  {
    grid-template-columns: auto;
  }
}

.grid-item {
  padding: 15px;
}

.highlight-fragment {
  animation: glow 1250ms;
  border-radius: 5px;
  padding: 20px 20px;
  background-color: #fafafa;
  box-shadow: 0 0 3px gray;
}

.remove-margin-bottom {
  margin-bottom: 0 !important;
}

@keyframes glow {
  50% {
    box-shadow: 0 0 9px gray;
  }
}

.a_detail {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center-text  {
  text-align: center;
  padding: 0 !important;
  margin: 0 !important;
}

hr.divider { 
  margin: .5em;
  border-width: 1px;
}

p {
  text-align: justify;
}
