---
layout: default
---

<h2>{{page.author}}</h2>
<hr>


{% assign post = site.posts | where: 'author', page.author | first %}
{% assign category = post.categories[0] %}

{% if category == "image" %}
  <div class="grid-container">
  {% for post in paginator.posts %}
      <a href="{{ post.url }}"><div class="grid-item">
      <img src="/assets/img/{{post.image}}" width="600px" height="350px" class="centered-and-cropped grayscale" alt="{{post.title}}"/>
      <i>{{ post.title }}</i>
      </div>
    </a> 
  {% endfor %}
  </div>
{% else %}
  {% for post in paginator.posts %}
    <p class="block">
      <a href="{{ post.url }}"><div>
      <p class="giveMeEllipsis">{{ post.excerpt | strip_html | strip_newlines }}</p>
      {% if post.image %} 
    <img src="/assets/img/{{post.image}}" width="300" height="250" class="centered-and-cropped grayscale" alt="{{post.title}}"/>
    {% endif %}
      <p><span class="post-preview-title">{{ post.title }}</span></p>
      </div></a> 
    </p>
    <hr>
  {% endfor %}
{% endif %}

{% include pagination_links.html %}