---
layout: default
---

<!--
	This is only used by post images
 -->

{% assign post = site.posts | where: 'author', page.author | first %}

<a href="/titles/{{page.title | replace: " ", "_" }}"><span class="title-post center-text">{{ page.title }}</span><span class="date-post"> ({{ post.year }})</span></a>

</br>
<hr class="divider">
<span class="author-post center-text"><a href="/authors/{{post.categories[1]}}">{{ page.author }}</a></span>

<br><br><br>

{% if page.image %} 
	<img src="/assets/img/{{page.image}}" class="center-image" alt="{{page.title}}"/>
{% endif %}

{{ content }}

<hr>
<!-- <p>{{ page.date | date_to_string }}</p> -->