---
layout: default
---

{% for file_name_author in site.data %}
	{% for title in file_name_author[1][0].titles %}
		{% if title.id == page.title_id %}
			{% assign author = file_name_author[1][0] %}
		    {% assign title = title %}
	    {% endif %}
	{% endfor %}
{% endfor %}

{% if title.format-title == 'italic' %}
  <a href="/titles/{{title.id}}"><span class="title-post-italic">{{ title.name }}</span><span class="date-post"> ({{ title.year }})</span></a>
{% elsif title.format-title == 'quotes' %}
  <a href="/titles/{{title.id}}"><span class="title-post-none">«{{ title.name }}»</span><span class="date-post"> ({{ title.year }})</span></a>
{% else %}
  <a href="/titles/{{title.id}}"><span class="title-post-none">{{ title.name }}</span><span class="date-post"> ({{ title.year }})</span></a>
{% endif %}



</br>
<span class="author-post"><a href="../../authors/{{author.id}}">{{ author.name }}</a></span>

{% if title.fragments %}
	{% for fragment in title.fragments %}
		<a class="a_detail" name="{{fragment.number}}">
			<hr>
			<div id="{{fragment.number}}-target"><p>{{fragment.text}}</p></div>
		</a>
	{% endfor %}
{% else %}
	<hr>
	{{title.text}}
{% endif %}

<hr>

<script src="/assets/js/highlight-fragment.js"></script>

{% if title.reference %}
	<p>{{title.reference}}</p>
	<hr>
{% endif %}