---
layout: default
---

<a href="/titles/{{page.title | replace: " ", "_" }}"><span class="title-post">{{ page.title }}</span><span class="date-post"> ({{ page.year }})</span></a>

{% assign post = site.posts | where: 'author', page.author | first %}
</br>
<span class="author-post"><a href="/authors/{{post.categories[1]}}">{{ page.author }}</a></span>

{% assign posts = site.posts | where: 'title', page.title %}
{% for post in posts %}
<a class="a_detail" name="f{{post.fragment}}">
	<hr>
	<div id="f{{post.fragment}}-target" >{{post.content}}</div>
</a>
	
{% endfor %}
<hr>

<script src="/assets/js/highlight-fragment.js"></script>


{{page.content}}